# Banking Agent API
VITE_AGENT_URL=http://localhost:8003

# Banking API
VITE_BANKING_API_URL=http://localhost:8004
VITE_BANKING_API_KEY=BANKING-API-KEY-123

# Gateway API
VITE_GATEWAY_URL=http://localhost:9000
